# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [70]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# Solution 2

chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
mostOrderedDF = chipo.groupby(['item_name']).agg({'quantity':'sum'}).reset_index()
sortedMostOrderedDF = mostOrderedDF.sort_values(by='quantity', ascending=False)
item_nameOnly = sortedMostOrderedDF.loc[:,'item_name']
item_nameOnly.head(1)

17    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
sortedMostOrderedDF.head(1)

       item_name  quantity
17  Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
mostOrderedChoiceDescDF = chipo.groupby(['choice_description']).agg({'quantity':'sum'}).reset_index()
sortedMostOrderedDF = mostOrderedChoiceDescDF.sort_values(by='quantity', ascending=False)
sortedMostOrderedDF.head(1)

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [55]:
clearQuanItemName = chipo.dropna(subset=['quantity', 'item_name']).reset_index()
clearQuanItemName.loc[:,'item_name'].count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.loc[:,'item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
lamd = lambda x: x[1:]
chipo['item_price_float1'] = chipo['item_price'].apply(lamd).astype('float')

#### Step 13.c. Check the item price type

In [29]:
# @title Default title text
chipo.loc[:6,'item_price_float1']

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
5    10.98
6     1.69
Name: item_price_float1, dtype: float64

In [30]:
chipo['item_price_float1'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [36]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price_float1']
chipo.loc[:11,'revenue']

0      2.39
1      3.39
2      3.39
3      2.39
4     33.96
5     10.98
6      1.69
7     11.75
8      9.25
9      9.25
10     4.45
11     8.75
Name: revenue, dtype: float64

In [44]:
chipo['revenue'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [42]:
chipo['order_id'].unique()[-1]

1834

### Step 16. What is the average revenue amount per order?

In [76]:
# Solution 1

chipo.groupby('order_id').agg({'revenue':'sum'}).mean()

revenue    21.394231
dtype: float64

In [60]:
# Solution 2
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'item_price_float1', 'revenue'],
      dtype='object')

In [64]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price_float1']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped['revenue'].mean()

21.39423118865867

### Step 17. How many different items are sold?

In [52]:
chipo['item_name'].nunique()

50